{% extends 'base.html.twig' %}

{% block title %}Hello IndexPlantController!{% endblock %}

{% block body %}
    <ul>
        {% for plant in plants %}
            <li>
                <a href="{{ path('app_get_plant', {'plant': plant.id}) }}">
                {{ plant.commonName }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
