{% extends 'base.html.twig' %}

{% block title %}Hello IndexPlantController!{% endblock %}

{% block body %}
    <ul>
        {% for plant in plants %}
            <li>{{ plant.commonName }}</li>
        {% endfor %}
    </ul>

{% endblock %}
