<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

{#    {% block javascripts %}#}
{#        {% block importmap %}{{ importmap('app') }}{% endblock %}#}
{#    {% endblock %}#}
</head>
<body>
    {% include('components/_sidebar.html.twig') %}
    <main class="wrapper">
        {% block body %}{% endblock %}
    </main>
</body>
</html>
