<nav class="sidebar">
    <a href="{{ path('plant_index') }}">
        <img src="{{ asset('images/planteo-logo.png') }}" alt="Logo de Planteo">
    </a>
    <p class="sidebar__section-title">Menus</p>

    <ul class="sidebar__menu">
        <li class="sidebar__menu-item">
            <a href="#" class="sidebar__menu-link sidebar__menu-link--plants">Mes plantes</a>
        </li>

        <li class="sidebar__menu-item">
            <a href="#" class="sidebar__menu-link sidebar__menu-link--task">Mes tâches</a>
        </li>

        <li class="sidebar__menu-item">
            <a href="#" class="sidebar__menu-link sidebar__menu-link--account">Mon compte</a>
        </li>
    </ul>
</nav>
