<nav class="sidebar">
    <a class="sidebar__logo" href="{{ path('app_home') }}">
        <img src="{{ asset('images/planteo-logo.png') }}" alt="Logo de Planteo">
    </a>
    <p class="sidebar__section-title">Menus</p>

    <ul class="sidebar__menu">
        <li class="sidebar__menu-item">
            <a href="{{ path('app_index_plant') }}" class="sidebar__menu-link sidebar__menu-link--plants">
                <span class="sidebar__menu-label">Mes plantes</span>
            </a>
        </li>

        <li class="sidebar__menu-item">
            <a href="#" class="sidebar__menu-link sidebar__menu-link--task">
                <span class="sidebar__menu-label">Mes tâches</span>
            </a>
        </li>

        <li class="sidebar__menu-item">
            <a href="{{ path('plant_index') }}" class="sidebar__menu-link sidebar__menu-link--recognizer">
                <span class="sidebar__menu-label">Identifier une plante</span>
            </a>
        </li>

        <li class="sidebar__menu-item">
            <a href="#" class="sidebar__menu-link sidebar__menu-link--account">
                <span class="sidebar__menu-label">Mon compte</span>
            </a>
        </li>

        <div class="toggle-menu"></div>
    </ul>
</nav>
